<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerName" value="127.0.0.1" />
		<add key="ServerPort" value="8000" />
		<add key="InstanceBeginTcpPort" value="9000" />
		<add key="InstanceBeginUdpPort" value="10000" />
		<add key="UdpIPAddress" value="192.168.0.255" />
	</appSettings>
</configuration>