<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <!--<add key="ServerName" value="192.168.1.205" />-->
		<add key="ServerName" value="10.106.223.101" />
		<add key="ServerPort" value="8000" />
		<add key="InstanceBeginTcpPort" value="9000" />
		<add key="InstanceBeginUdpPort" value="10000" />
		<add key="UdpIPAddress" value="192.168.0.255" />
		<add key="ProtocalResource" value="Ognas.Server.ProtocolConfiguration.xml" />
	</appSettings>
</configuration>